# Eclipse files
.classpath
.project
.settings/

# Java files
*.class
*.jar

# Maven files (if you're using Maven)
target/
pom.xml.tag
pom.xml.releaseBackup

# IntelliJ IDEA files (if you're using IntelliJ IDEA)
.idea/

# Metals files (if you're using Metals)
.metals/

# VS Code files (if you're using VS Code)
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Log files
*.log
*.out

# Temporary files
*~
*.tmp
*.bak
*.swp

# Eclipse metadata
.metadata/

# Java build files
bin/
build/

# Other unnecessary files
*.iml
*.ipr
*.iws